<!DOCTYPE html>
<html lang="en">
<head>
    <!-- css -->
    <!--#include virtual="/styles/unity/css/css-include.html" -->

    <!-- bring in datatables css -->
    <link rel="stylesheet" href="/styles/unity/css/datatables.min.css">

    <!-- head items -->
    <title>CESM{{cesmmodel}} Component Sets Definitions</title>
    <meta name="description" content="Component Sets Definitions for CESM{{cesmmodel}}" />
</head>


<body class="ncar">
    <!-- navbar include -->
    <!--#include virtual="/styles/unity/includes/header/header.html" -->

    <main class="container-lg py-2 pt-md-3">
        <div class="d-grid d-print-flex">
            <nav aria-label="breadcrumb" class="breadcrumb-wrapper mb-2 d-print-none">
                <ol class="breadcrumb">
                    <!-- breadcrumb links start -->
                    <li class="breadcrumb-item"><a href="https://www.cesm.ucar.edu">CESM Home</a></li>
                    <li class="breadcrumb-item"><a href="https://docs.cesm.ucar.edu">CESM Documentation &amp; Tools</a></li>
                    <li class="breadcrumb-item"><a href="/models/cesm2/config">CESM2 Component Configuration Settings</a></li>
                    <li class="breadcrumb-item active" aria-current="page">CESM{{cesmmodel}} Component Sets Definitions</li>
                    <!-- breadcrumb links end -->
                </ol>
            </nav>


            <article class="main-content-wrapper">
                <h1>CESM{{cesmmodel}} Component Sets Definitions</h1>

                <div class="main-content clearfix">
                	<div class="component dataset p-3 yellow-orange-border mb-3">
                		<div class="row">
                			<div class="col-md-6">
                				<div class="row gx-0 mb-2 mb-md-1">
                                    <div class="col-12 dataset-label">Model Version: <span class="badge bg-secondary">{{cesmmodel}}</span></div>
                                </div>

                                <!-- model version include -->
                                <!--#include virtual="/models/cesm2/config/includes/cesm-versions-compsets.html" -->
							</div>
							<div class="col-md-6">
								 <div class="row gx-0 mb-2 mb-md-1">
							        <div class="col-12 col-md-4 dataset-label">HTML Created:</div>
							        <div class="col-12 col-md-8"><span class="badge bg-dark">{{ today }}</span></div>
							    </div>
							</div>
						</div>

						<div class="row mt-3">
							<div class="col-md-6">
								<h4 class="">Support Levels</h4>
					            <p class="mb-0"><strong>Defined</strong> - The component set is defined but has not been tested.</p>
					            <p class="mb-0"><strong>Tested</strong> - The defined component set has been tested with a scientifically supported grid resolution.</p>
					            <p class="mb-0"><strong>Scientific</strong> - The tested component set has been <a href="https://cseg.cgd.ucar.edu/experiments/public/">validated scientifically</a>.</p>
							</div>

							<div class="col-md-6">
								<h4 class="">Related Links</h4>
								<p class="mb-0">Reference: <a href="https://esmci.github.io/cime/versions/master/html/users_guide/compsets.html">CIME Model Component Sets Documentation</a></p>
					            <p class="mb-0">Grid Resolutions: <a href="/models/cesm2/config/grids.html">CESM2 Grid Resolution Definitions</a></p>
							</div>
						</div>
					</div>


					<!-- table buttons -->
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" id="btn-show-all-children">
                            <i class="fa fa-folder-open"></i> Show All
                        </button>

                        <button type="button" class="btn btn-primary" id="btn-hide-all-children">
                            <i class="fa fa-folder"></i> Hide All
                        </button>
                    </div>

                    <table id="compsetTable" class="table table-striped bg-white">
                    	<thead>
                    		<tr>
                    			<th>Alias</th>
                    			<th>Long name</th>
                    			<th>Defined By</th>
                    			<th>Support Level</th>
                    			<th class="none">Scientifically Supported Grids</th>
                    			<th class="none">Details</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    		{% for longname, values in compset_dict.iteritems() %}
                    		<tr>
                    			<td>{{ values.alias }}</td>
                    			<td>{{ longname }}</td>
                    			<td>{{ values.defined_by }}</td>
                    			{% if values.science_support_grids|length > 0 %}
                    			<td>Scientific / Tested</td>
                    			{% else %}
                    			<td>Defined</td>
                    			{% endif %}
                    			<td>
                    				{% if values.science_support_grids|length > 0 %}
                    				<ul>
                    					{% for grid in values.science_support_grids %}
                    					<li id="details" style="width: 20%">{{ grid }}</li>
                    					{% endfor %}
                    				</ul>
                    				{% endif %}
                    			</td>
                    			<td>
                    				<table style="table-layout: fixed; width: 100%">
                    					<thead>
                    						<tr id="details">
                    							<th style="width: 20%"></th>
                    							<th style="width: 20%">Value</th>
                    							<th style="width: 60%">Description</th>
                    						</tr>
                    					</thead>
                    					<tbody>
                    						<tr>
                    							<th id="details">Initialization Time</th>
                    							<td>{{ values.init_opt }}</td>
                    							<td>1850: Pre-Industrial; 2000 present day:<br/>
                    							Additional initialization times defined by components.</td>
                    						</tr>
                    						<tr>
                    							<th id="details">Atmosphere</th>
                    							<td>{{ values.atm_opt }}</td>
                    							<td id="wrapit">{{ values.ATM_desc }}</td>
                    						</tr>
                    						<tr>
                    							<th id="details">Land</th>
                    							<td>{{ values.lnd_opt }}</td>
                    							<td id="wrapit">{{ values.LND_desc }}</td>
                    						</tr>
                    						<tr>
                    							<th id="details">Sea-Ice</th>
                    							<td>{{ values.seaice_opt }}</td>
                    							<td id="wrapit">{{ values.ICE_desc }}</td>
                    						</tr>
                    						<tr>
                    							<th id="details">Ocean</th>
                    							<td>{{ values.ocn_opt }}</td>
                    							<td id="wrapit">{{ values.OCN_desc }}</td>
                    						</tr>
                    						<tr>
                    							<th id="details">River runoff</th>
                    							<td>{{ values.rof_opt }}</td>
                    							<td id="wrapit">{{ values.ROF_desc }}</td>
                    						</tr>
                    						<tr>
                    							<th id="details">Land Ice</th>
                    							<td>{{ values.glc_opt }}</td>
                    							<td id="wrapit">{{ values.GLC_desc }}</td>
                    						</tr>
                    						<tr>
                    							<th id="details">Wave</th>
                    							<td>{{ values.wav_opt }}</td>
                    							<td id="wrapit">{{ values.WAV_desc }}</td>
                    						</tr>
                    						{% if values.bgc_opt %}
                    						<tr>
                    							<th id="details">Ocean Biogeochemistry</th>
                    							<td>{{ values.bgc_opt }}</td>
                    							{% if "BDRD" in values.bgc_opt %}
                    							<td>BGC CO2=diag, rad CO2=diag:</td>
                    							{% elif "BPRP" in values.bgc_opt %}
                    							<td>BGC CO2=prog, rad CO2=prog:</td>
                    							{% else %}
                    							<td></td>
                    							{% endif %}
                    						</tr>
                    						{% endif %}
                    						{% if values.esp_opt %}
                    						<tr>
                    							<th id="details">External System Processing</th>
                    							<td>{{ values.esp_opt }}</td>
                    							<td id="wrapit">{{ values.ESP_desc }}</td>
                    						</tr>
                    						{% endif %}

                    					</tbody>
                    				</table>
                    			</td>
                    		</tr>
                    		{% endfor %}
                    	</tbody>
                    	<tfoot>
                    		<tr>
                    			<th>Alias</th>
                    			<th>Long name</th>
                    			<th>Defined By</th>
                    			<th>Support Level</th>
                    			<th class="none">Scientifically Supported Grids</th>
                    			<th class="none">Details</th>
                    		</tr>
                    	</tfoot>
                    </table>
                </div>
            </article>
        </div>
    </main>

    <!-- footer & javascript includes -->
    <!--#include virtual="/styles/unity/includes/footer/footer.html" -->
    <!--#include virtual="/styles/unity/js/js-include.html" -->

    <!-- datatables js -->
	<script src="/styles/unity/js/datatables.min.js"></script>

	<script>
		$(document).ready( function () {
			var table = $('#compsetTable').DataTable( {
				"responsive": true,
				"lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
				"order": [ [ 3, 'desc'], [ 0, 'asc'] ]
			} );

			// Handle click on "Expand All" button
			$('#btn-show-all-children').on('click', function(){
				// Expand row details
				table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
			});

			// Handle click on "Collapse All" button
			$('#btn-hide-all-children').on('click', function(){
				// Collapse row details
				table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
			});
		});
	</script>
</body>
</html>
