<!DOCTYPE html>
<html lang="en">
<head>
    <!-- css -->
    <!--#include virtual="/styles/unity/css/css-include.html" -->

    <!-- bring in datatables css -->
    <link rel="stylesheet" href="/styles/unity/css/datatables.min.css">

    <!-- head items -->
    <title>CESM{{cesmmodel}} Machine Definitions</title>
    <meta name="description" content="Machine definitions for CESM{{cesmmodel}}" />
</head>


<body class="ncar">
    <!-- navbar include -->
    <!--#include virtual="/styles/unity/includes/header/header.html" -->

    <main class="container-lg py-2 pt-md-3">
        <div class="d-grid d-print-flex">
            <nav aria-label="breadcrumb" class="breadcrumb-wrapper mb-2 d-print-none">
                <ol class="breadcrumb">
                    <!-- breadcrumb links start -->
                    <li class="breadcrumb-item"><a href="https://www.cesm.ucar.edu">CESM Home</a></li>
                    <li class="breadcrumb-item"><a href="https://docs.cesm.ucar.edu">CESM Documentation &amp; Tools</a></li>
                    <li class="breadcrumb-item"><a href="/models/cesm2/config">CESM2 Component Configuration Settings</a></li>
                    <li class="breadcrumb-item active" aria-current="page">CESM{{cesmmodel}} Machine Definitions</li>
                    <!-- breadcrumb links end -->
                </ol>
            </nav>


            <article class="main-content-wrapper">
                <h1>CESM{{cesmmodel}} Machine Definitions</h1>

                <div class="main-content clearfix">
                	<div class="component dataset p-3 yellow-orange-border mb-3">
                		<div class="row">
                			<div class="col-md-6">
                				<div class="row gx-0 mb-2 mb-md-1">
                                    <div class="col-12 dataset-label">Model Version: <span class="badge bg-secondary">{{cesmmodel}}</span></div>
                                </div>

                                <!-- model version include -->
                                <!--#include virtual="/models/cesm2/config/includes/cesm-versions-machines.html" -->
							</div>
							<div class="col-md-6">
								 <div class="row gx-0 mb-2 mb-md-1">
							        <div class="col-12 col-md-4 dataset-label">HTML Created:</div>
							        <div class="col-12 col-md-8"><span class="badge bg-dark">{{ today }}</span></div>
							    </div>
							</div>
						</div>

						<div class="row mt-3">
							<div class="col-md-6">
								<h4 class="">Support Levels</h4>
					            <p class="mb-0"><strong>Tested</strong> - Indicates that the machine has passed funtional CESM regression testing but may not necessarily by appropriate for large coupled experiments due to machine restrictions; for example, limited number of nodes and disk space.</p>
					            <p class="mb-0"><strong>Scientific</strong> - Indicates that the machine has passed statistical validation and CESM regression testing and may be used for large coupled experiments.</p>
							</div>

							<div class="col-md-6">
								<h4 class="">Related Links</h4>
								<p class="mb-0">Reference: <a href="https://esmci.github.io/cime/versions/master/html/users_guide/machine.html">CIME Defining the machine Documentation</a></p>
					            <p class="mb-0"><a href="https://docs.google.com/spreadsheets/d/15QUqsXD1Z0K_rYNTlykBvjTRt8s0XcQw0cfAj9DZbj0/edit#gid=0">CESM2 machine/compiler/test status spreadsheet</a></p>
							</div>
						</div>
					</div>


					<!-- table buttons -->
					<div class="text-center" style="">
						<button type="button" class="btn btn-primary" id="btn-show-all-children">
							<i class="fa fa-folder-open"></i> Show All
						</button>

						<button type="button" class="btn btn-primary" id="btn-hide-all-children">
							<i class="fa fa-folder"></i> Hide All
						</button>
					</div>


					<table id="machTable" class="table table-striped bg-white">
				      <thead>
					<tr>
					  <th>Name</th>
					  <th>OS</th>
					  <th>Compilers</th>
					  <th>pes/node</th>
					  <th>max_tasks/node</th>
					  <th>Support Level</th>
					  <th class="none">Details</th>
					</tr>
				      </thead>
				      <tbody>
					{% for name in mach_list|sort %}
					<tr>
					  <td>{{ name }}</td>
					  <td>{{ mach_dict[(name,"os")] }}</td>
					  <td>{{ mach_dict[(name,"compilers")] }}</td>
					  <td>{{ mach_dict[(name,"max_tasks_per_node")] }}</td>
					  <td>{{ mach_dict[(name,"max_mpitasks_per_node")] }}</td>
					  <td>{{ mach_dict[(name,"support")] }}</td>
					  <td><pre id="details">{{ mach_dict[(name,"description")] }}</pre></td>
					</tr>
					{% endfor %}
			              </tbody>
			              <tfoot>
					<tr>
					  <th>Name</th>
					  <th>OS</th>
					  <th>Compilers</th>
					  <th>pes/node</th>
					  <th>max_tasks/node</th>
					  <th>Support Level</th>
					  <th class="none">Details</th>
					</tr>
				      </tfoot>
				    </table>
				</div>
			</article>
		</div>
	</main>

    <!-- footer & javascript includes -->
    <!--#include virtual="/styles/unity/includes/footer/footer.html" -->
    <!--#include virtual="/styles/unity/js/js-include.html" -->

    <!-- datatables js -->
	<script src="/styles/unity/js/datatables.min.js"></script>
	<script>
		$(document).ready( function () {
			var table = $('#machTable').DataTable( {
				"responsive": true,
				"lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
				"columnDefs": [
				{ "orderData": 5, "targets": 0 },
				]
			} );

			// Handle click on "Expand All" button
			$('#btn-show-all-children').on('click', function(){
				// Expand row details
				table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
			});

			// Handle click on "Collapse All" button
			$('#btn-hide-all-children').on('click', function(){
				// Collapse row details
				table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
			});
		});
	</script>
</body>
</html>



