<!DOCTYPE html>
<html lang="en">
<head>
    <!-- css -->
    <!--#include virtual="/styles/unity/css/css-include.html" -->

    <!-- bring in datatables css -->
    <link rel="stylesheet" href="/styles/unity/css/datatables.min.css">

    <!-- head items -->
    <title>CESM{{cesmmodel}} {{ comp }}{{ compversion }} Namelist Definitions</title>
    <meta name="description" content="" />
</head>


<body class="ncar">
    <!-- navbar include -->
    <!--#include virtual="/styles/unity/includes/header/header.html" -->

    <main class="container-lg py-2 pt-md-3">
        <div class="d-grid d-print-flex">
            <nav aria-label="breadcrumb" class="breadcrumb-wrapper mb-2 d-print-none">
                <ol class="breadcrumb">
                    <!-- breadcrumb links start -->
                    <li class="breadcrumb-item"><a href="https://www.cesm.ucar.edu">CESM Home</a></li>
                    <li class="breadcrumb-item"><a href="https://docs.cesm.ucar.edu">CESM Documentation &amp; Tools</a></li>
                    <li class="breadcrumb-item"><a href="/models/cesm2/settings/current">CESM2 Component Configuration Settings</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{cesm_version}} {{ comp }}{{ compversion }} Namelist Definitions</li>
                    <!-- breadcrumb links end -->
                </ol>
            </nav>

            <article class="main-content-wrapper">
                <h1>CESM{{cesmmodel}} {{ comp }}{{ compversion }} Namelist Definitions</h1>

                <div class="main-content clearfix">
                    <div class="component dataset p-3 yellow-orange-border mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row gx-0 mb-2 mb-md-1">
                                    <div class="col-12 col-md-4 dataset-label">Model Version:</div>
                                    <div class="col-12 col-md-8"><span class="badge bg-primary">{{ cesmmodel }}</span></div>
                                </div>

                                <div class="row gx-0 mb-2 mb-md-0">
                                    <div class="col-12 col-md-4 dataset-label">Component Tag:</div>
                                    <div class="col-12 col-md-8"><span class="badge bg-success">{{ comptag }}</span></div>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="row gx-0 mb-2 mb-md-1">
                                    <div class="col-12 dataset-label">HTML Created: <span class="badge bg-secondary">{{ today }}</span></div>
                                </div>
                                <!-- model version include -->
                                <!--#include virtual="/models/cesm2/settings/includes/cesm-versions-settings.html" -->
                            </div>
                        </div>
                    </div>

                    <!-- table buttons -->
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" id="btn-show-all-children">
                            <i class="fa fa-folder-open"></i> Show All
                        </button>

                        <button type="button" class="btn btn-primary" id="btn-hide-all-children">
                            <i class="fa fa-folder"></i> Hide All
                        </button>
                    </div>

                    <!-- main content area -->
                    <table id="nmlTable" class="table-striped bg-white w-100">
                        <thead>
                            <tr>
                                <th>Variable</th>
                                <th>Namelist Group</th>
                                <th>Category</th>
                                <th>Entry Type</th>
                                <th class="none">Valid Values</th>
                                <th class="none">Possible Default Values</th>
                                <th class="none">Description and out-of-the-box Default</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category, var_list in html_dict|dictsort %}
                            {% for var in var_list|sort(attribute='name') %}
                            <tr>
                                <td>{{ var['name']|replace("___","&"|e) }}</td>
                                <td>{{ var['group_name'] }}</td>
                                <td>{{ category|replace("___","&"|e) }}</td>
                                <td>{{ var['entry_type'] }}</td>
                                <td>{{ var['valid_values'] }}</td>
                                <td>{{ var['default_values'] }}</td>
                                <td><pre id="description-dt">{{ var['desc'] }}</pre></td>
                            </tr>
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Variable</th>
                                <th>Namelist Group</th>
                                <th>Category</th>
                                <th>Entry Type</th>
                                <th class="none">Valid Values</th>
                                <th class="none">Possible Default Values</th>
                                <th class="none">Description and out-of-the-box Default</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </article>
        </div>
    </main>

    <!-- footer & javascript includes -->
    <!--#include virtual="/styles/unity/includes/footer/footer.html" -->
    <!--#include virtual="/styles/unity/js/js-include.html" -->


    <!-- datatables js -->
    <script src="/styles/unity/js/jquery.min.js"></script>
    <script src="/styles/unity/js/datatables.min.js"></script>
    <script>
    $(document).ready( function () {
        var table = $('#nmlTable').DataTable({
            "responsive": true,
            "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ]     
        } );

        // Handle click on "Expand All" button
        $('#btn-show-all-children').on('click', function(){
            // Expand row details
            table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
        });

        // Handle click on "Collapse All" button
        $('#btn-hide-all-children').on('click', function(){
            // Collapse row details
            table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
        });
    });
    </script>
</body>
</html>